/* App.css */

body {
  background-color: #2980b9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.App {
  text-align: center;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: palevioletred;
}

h3 {
  color: palevioletred;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: black;
  color: #fff;
  roun
}

#newDemo {
  margin-top: 15px;
  font-weight: bold;
  color: #e74c3c;
}
